tensorflow==2.2.0
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
# tensorflow-metadata
# tensorflow-serving-api
# tensorflowjs
numpy
scipy
pandas
seaborn
scikit-learn
cython
sympy
statsmodels
matplotlib
yapf
torch
torchvision
pydot
graphviz